:root {
  --button-color: #596d48;
  --input-border-color: #e5e7eb;
}
button {
  background-color: var(--button-color);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  align-self: flex-start;
  margin: 60px;
  width: 200px;
  height: 40px;
  font-size: large;
}

.already {
  margin-left: 60px;
}
body {
  margin: 0;
  display: flex;
  align-items: stretch;
  font-family: "Playfair Display", serif;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100vh;
  background-image: url(images/plant.avif);
  background-size: cover;
}
.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background-color: rgb(226, 229, 226);
}
.odin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  font-size: 48px;
  padding: 5px;
}
.odinLogo {
  width: 1.5em;
}

.top {
  font-size: 32px;
  /* top right bottom left */
  width: 75%;
  margin-left: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 400px;
  margin-left: 30px;
}
input {
  width: 100%;
  height: 30px;

  border-radius: 10px;
  border: 3px solid var(--input-border-color);
}
input:invalid {
  outline: none;
  border: 3px solid red;
}
input:focus {
  outline: none;

  border: 3px solid blue;
}

form {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  border: none;
  display: flex;
  justify-content: flex-start;

  flex-wrap: wrap;
}
.whiteArea {
  background-color: white;
  padding: 30px;
  box-shadow: #596d48;
}

h2 {
  margin-left: 42px;
}

a {
  color: var(--button-color);
  font-weight: bold;
  text-decoration: none;
}

.wrongPass {
  display: none;
  color: red;
  margin-left: 50px;
  font-weight: bold;
}
